<div class="row catalog-container">
  <div class="col-md-3 sidebar">
    <aside id="sidebar"></aside>
  </div>
  <div class="col-md-9 product-container">
    <section id="catalog__top-action-bar"></section>
    <section id="catalog__product-container"></section>
  </div>
</div>