<h2 class="designer-header">Our Designers</h2>
<hr class="designers-hr"/>
<div class="row">
  <div class="col-sm-4 designers-options">
    <h4 class="page-header">DESIGNERS A-Z</h4>
    <p>
      <a class="btn btn-link" id="a-link" href="#">A</a>
      <a class="btn btn-link" href="#">E</a>
      <a class="btn btn-link" href="#">G</a>
      <a class="btn btn-link" href="#">K</a>
      <a class="btn btn-link" href="#">S</a>
    </p>
    <p>
      <a class="btn btn-link" href="#">T</a>
      <a href="#/catalog">VIEW ALL</a>
    </p>
  </div>
  <div class="col-sm-8">
    {{#list designers}}{{/list}}
  </div>
</div>