<div id="home">
  <div class="row info-row">
    <div class="col-sm-8 showcase-info">
      <p>Discover, share and order from a curated selection of "certified" one of a kind and limited edition pieces.</p>
    </div>
    <div class="col-sm-4 showcase-info">
      <a href="#/" class="info-btn">start discovering</a>
      <a href="#/" class="info-btn">learn more</a>
    </div>
  </div>
</div>