<div class="menu-container container" id="menu-bar--template">
  <ul>
    <li><a href="#/designers">DESIGNERS</a></li>
    <li><a href="#/catalog">EARRINGS</a></li>
    <li><a href="#/rings">RINGS</a></li>
    <li><a href="#/necklaces">NECKLACES/PENDANTS</a></li>
    <li><a href="#/bracelets">BRACELETS</a></li>
    <li><a href="#/accessories">ACCESSORIES</a></li>
    <li><a href="#/archives">ARCHIVES</a></li>
    <li><a href="#/about">ABOUT</a></li>
  </ul>
</div>