{{#if criteria.length}}
{{!-- {{log criteria}} --}}
  <div class="search-criteria-wrapper">
    <span class="criteria-label">current search criteria:&nbsp;</span>
    <ul>
      {{#each criteria as |item|}}
        {{#if item}}
          <li class="criteria-li">{{item}}<i class="fa fa-times" aria-hidden="true" id="criteria"></i></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
{{else}}
{{/if}}