.logo {
	max-width: 100%;
	text-align: center;
}
.menu-container {
	ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
		padding: 0 62px;
		margin: 36px 0;
		li {
			font-weight: 600;
			font-size: 15px;
			a {
				color: #555555;
			}
			a:hover {
				color: #555555;
				text-decoration: none;
			}
		}
	}
}
.info-row {
	width: 100%;
	border-bottom: 1px solid #000;
	margin: 0 0 10px 0;
	.showcase-info {
		font-family: 'AdelleSans';
		font-size: 30px;
		text-align: center;
		padding: 55px;
		.info-btn {
			background: #74bc87;
			font-size: 16px;
			padding: 15px;
			display: block;
			color: #fff;
			margin-bottom: 4px;
			font-family: 'Arial';
			text-transform: uppercase;
		}
	}
}
.designer-header {
	border-bottom: none;
	text-align: center;
	font-size: 32px;
	color: #545454;
}
.designers-hr {
	border-top: 1px solid #000 !important;
	margin: 30px 0;
}
.designers-options {
	.page-header {
		padding-left: 10px;
		border: none;
	}
	a {
		text-decoration: none;
		color: #1f1f1f;
		font-size: 18px;
	}
	a:hover {
		text-decoration: none;
		color: #1f1f1f;
	}
}
.designers-sort {
	padding-left: 30px;
	h2 {
		margin-top: 30px;
		margin-bottom: 0;
	}
	hr {
		margin: 10px 0;
		border-top: 1px solid #cccccc;
	}
}